__pycache__/
pip-log.txt
build
*.mo
*.potgit
.idea/
/src/static/libs/*
/src/db.sqlite3
/src/custom_page/static/custom_page/*

src/angular-front-end/node_modules
src/angular-front-end/dist
src/angular-front-end/tmp
src/angular-front-end/out-tsc
src/angular-front-end/chrome-profiler-events*.json
src/angular-front-end/speed-measure-plugin*.json
src/angular-front-end/.project
src/angular-front-end/.classpath
src/angular-front-end/.c9/
src/angular-front-end/*.launch
src/angular-front-end/.settings/
src/angular-front-end/npm-debug.log
src/angular-front-end/yarn-error.log